
@import '../variables.css';
@global-import './leasingFlow.css';
@global-import './css/react-admin.css';

@global-import 'normalize.css' ;

.root{
  background-image: url('https://m.media-amazon.com/images/G/01/IMDb/design/a/2017/ptp/00015612-wonder-woman-early-out/rhs-background.png');
  height: 600px;
  width: 300px;
}
